header#index-header{
    section.top-header{
        height: 2vh;
        background-color: $productMainColor;
    }

    section.bot-header{
        height: 15vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .img-wrapper{
            height: 100%;
            padding: 1rem;
            img{
                height: 100%;
            }
        }
        nav{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            ul{
                list-style-type: none;
                li{
                    text-transform: uppercase;
                    display: inline-block;
                    padding: 0 0.5rem;
                    line-height: calc(15vh - 4px);
                    text-align: center;
                    border-bottom: 4px solid transparent;
                &.active{
                    color: $productMainColor;
                    border-bottom: 4px solid $productMainColor;    
                }
                    a{
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }
        div.input-group{
            border-bottom: 4px solid transparent;
            padding-left: 2rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            button{
                border: none;
                display: inline-block;
                margin: 0 auto;
                background-color: $productMainColor;
                color: white;
                text-transform: uppercase;
                font-size: .8rem;
                font-weight: 700;
                padding: .5rem 1.5rem;
                &:hover{
                    cursor: pointer;
                    opacity: .7;
                }
                &:active{
                    opacity: .9;
                }
            }
            input{
                margin-left: .5rem;
                border: 3px solid $productMainColor;
                height: 2rem;

            }
        }
    }
}
div#jumbotron{
    height: 75vh;
    width: 100%;
    background-image: url('/images/jumbotron.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}