@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

header#index-header section.top-header {
  height: 2vh;
  background-color: rgb(2, 130, 249);
}
header#index-header section.bot-header {
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header#index-header section.bot-header .img-wrapper {
  height: 100%;
  padding: 1rem;
}
header#index-header section.bot-header .img-wrapper img {
  height: 100%;
}
header#index-header section.bot-header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header#index-header section.bot-header nav ul {
  list-style-type: none;
}
header#index-header section.bot-header nav ul li {
  text-transform: uppercase;
  display: inline-block;
  padding: 0 0.5rem;
  line-height: calc(15vh - 4px);
  text-align: center;
  border-bottom: 4px solid transparent;
}
header#index-header section.bot-header nav ul li.active {
  color: rgb(2, 130, 249);
  border-bottom: 4px solid rgb(2, 130, 249);
}
header#index-header section.bot-header nav ul li a {
  text-decoration: none;
  color: black;
}
header#index-header section.bot-header nav div {
  border-bottom: 4px solid transparent;
  padding-left: 2rem;
}
header#index-header section.bot-header nav div input {
  text-align: end;
  border: none;
}

div#jumbotron {
  height: 50vh;
  width: 100%;
  background-image: url("/images/jumbotron.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

div#index-main div#product-background {
  background-color: rgb(28, 28, 28);
}
div#index-main div#product-background div.my-container {
  position: relative;
  color: white;
  padding-bottom: 1rem;
}
div#index-main div#product-background div.my-container span {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.4rem 2rem;
  background-color: rgb(2, 130, 249);
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, -50%);
}
div#index-main div#product-background div.my-container div.product-container {
  padding: 2.5rem 0 0 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
div#index-main div#product-background div.my-container div.product-container div.comic-card {
  width: 16.6666666667%;
  padding: 0.5rem;
}
div#index-main div#product-background div.my-container div.product-container div.comic-card div.img-thumb-container {
  width: 200px;
  height: 200px;
  margin-bottom: 1rem;
}
div#index-main div#product-background div.my-container div.product-container div.comic-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left top;
     object-position: left top;
}
div#index-main div#product-background div.my-container div.product-container div.comic-card h5 {
  text-transform: uppercase;
}
div#index-main div#product-background div.my-container button {
  border: none;
  display: block;
  margin: 0 auto;
  background-color: rgb(2, 130, 249);
  color: white;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 0.5rem 1.5rem;
}
div#index-main div#product-background div.my-container button:hover {
  cursor: pointer;
}

div#products-links {
  background-color: rgb(2, 130, 249);
}
div#products-links nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
div#products-links nav div.single-main-link {
  width: 20%;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
div#products-links nav div.single-main-link .img-wrapper {
  width: 25%;
  padding: 0.4rem;
}
div#products-links nav div.single-main-link .img-wrapper img {
  width: 100%;
  margin-right: 0.5rem;
}
div#products-links nav div.single-main-link a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

div#comic section.comic-header {
  background-color: rgb(2, 130, 249);
  height: 50px;
}
div#comic .ax-comic-container {
  width: 60%;
  margin: 0 auto;
}
div#comic section.top-comic h1 {
  padding-bottom: 1rem;
  color: #003f5e;
}
div#comic section.top-comic .comic-price {
  color: white;
  background-color: #55ba59;
  padding: 0.5rem 2rem;
  margin-bottom: 0.8rem;
}
div#comic section.top-comic .ax-row {
  padding: 4rem 0;
}
div#comic section.top-comic .ax-col-6 {
  width: 60%;
}
div#comic section.top-comic .ax-col-4 {
  width: 40%;
}

div#index-footer {
  color: rgba(255, 255, 255, 0.5);
}
div#index-footer h4 {
  text-transform: uppercase;
}
div#index-footer div.top-footer-container {
  background-image: url("/images/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
div#index-footer div.top-footer-container div.top-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
div#index-footer div.top-footer-container div.top-footer div.lists-container {
  padding: 2rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
}
div#index-footer div.top-footer-container div.top-footer div.list-wrapper {
  margin-right: 1.6rem;
}
div#index-footer div.top-footer-container div.top-footer h4 {
  color: white;
}
div#index-footer div.top-footer-container div.top-footer ul {
  margin: 0.8rem 0;
  list-style-type: none;
}
div#index-footer div.top-footer-container div.top-footer ul li {
  font-size: 0.7rem;
}
div#index-footer div.top-footer-container div.top-footer ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}
div#index-footer div.top-footer-container div.top-footer div#logo-background {
  width: 40%;
  min-width: 500px;
  background-image: url("/images/dc-logo-bg.png");
  background-position: -50%;
  background-size: 100%;
  background-repeat: no-repeat;
}
div#index-footer div.bot-footer-container {
  background-color: rgb(48, 48, 48);
}
div#index-footer div.bot-footer-container div.bot-footer {
  padding: 2rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
div#index-footer div.bot-footer-container div.bot-footer button {
  background-color: transparent;
  font-weight: 700;
  color: white;
  padding: 0.8rem;
  border: 2px solid rgb(2, 130, 249);
}
div#index-footer div.bot-footer-container div.bot-footer h4 {
  color: rgb(2, 130, 249);
}
div#index-footer div.bot-footer-container div.bot-footer div.socials-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
div#index-footer div.bot-footer-container div.bot-footer div.socials-container img {
  margin-left: 2rem;
}

.my-container {
  width: 80%;
  margin: 0 auto;
}